<!-- views/partials/header.ejs -->
<h1>TinyApp</h1>
<%if (user) { %>
<p>Logged in as: <%= user.email %></p>
<a href="/urls">URLs</a>
<form class="form-inline" action="/logout" method="POST">
    <button type="submit" class="btn btn-primary">logout</button>
</form>
<% }  else { %>
<a href="/login">Login</a> | <a href="/register">Register</a>
<% } %>