<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body style="font-size:20px; padding:50px;">
  <form class="form-inline" action="/register" method="POST">
    <label for="email">Email:</label>
    <input style="width: 250px" class="" type="email" name="email" />
    <label for="password">Password:</label>
    <input style="width: 250px" class="" type="password" name="password" />
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</body>

</html>